.daily-item {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    height: 70px;
    margin: 7px auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease; /* Smooth transition for both blur and color */
    color: #ffffff; /* Default text color */
    backdrop-filter: blur(10px); /* Adds the blur effect on hover */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.daily-item:hover {
    scale: 1.02; /* Scale the card on hover */
}

.icon-small {
    margin: auto 6px;
    width: 40px;
}

.day {
    font-weight: 600;
    flex: 1;
}

.description {
    flex: 2;
    margin-right: 10px;
    text-align: right;
}

.min-max {
    flex: 1;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    margin-right: 10px;
    text-align: right;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    row-gap: 0;
}

.daily-details-grid-item {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
}

.daily-details-grid-item label:first-child {
    color: #ffffff;
}

.daily-details-grid-item label:last-child {
    color: #ffffff;
    font-weight: 700;
}
